.place-box {
    background-image: url('../../images/sundorbon.png');
    width: 320px; 
     height: 450px; 
     background-size: 250px;
    background-repeat:no-repeat;
    margin-right: 0px; 
     overflow: hidden;
  
}
.place-box:hover{
text-decoration: none;
border: 1px solid gold;

}

.place-box h1{
    margin-top:300px;
}